WebFormForRegisterDB/Service References/ServiceReferenceRegisterDb/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56633/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56633/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56633/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceForRegisterDB" />
      <xsd:import schemaLocation="http://localhost:56633/Service1.svc?xsd=xsd3" namespace="http://tempuri.org/DataSet_Persons.xsd" />
      <xsd:import schemaLocation="http://localhost:56633/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ClassLibraryForRegisterDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_viewALL_InputMessage">
    <wsdl:part name="parameters" element="tns:viewALL" />
  </wsdl:message>
  <wsdl:message name="IService1_viewALL_OutputMessage">
    <wsdl:part name="parameters" element="tns:viewALLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteRegisteredPersonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRegisteredPersonQuery" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteRegisteredPersonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRegisteredPersonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertRegistrationQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRegistrationQuery" />
  </wsdl:message>
  <wsdl:message name="IService1_insertRegistrationQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRegistrationQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRegistrationQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationQuery" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRegistrationQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewUserOnly_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewUserOnly" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewUserOnly_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewUserOnlyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1__VIEWALLFILES_InputMessage">
    <wsdl:part name="parameters" element="tns:_VIEWALLFILES" />
  </wsdl:message>
  <wsdl:message name="IService1__VIEWALLFILES_OutputMessage">
    <wsdl:part name="parameters" element="tns:_VIEWALLFILESResponse" />
  </wsdl:message>
  <wsdl:message name="IService1__UpdateAuthority_InputMessage">
    <wsdl:part name="parameters" element="tns:_UpdateAuthority" />
  </wsdl:message>
  <wsdl:message name="IService1__UpdateAuthority_OutputMessage">
    <wsdl:part name="parameters" element="tns:_UpdateAuthorityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1__InsertAuthority_InputMessage">
    <wsdl:part name="parameters" element="tns:_InsertAuthority" />
  </wsdl:message>
  <wsdl:message name="IService1__InsertAuthority_OutputMessage">
    <wsdl:part name="parameters" element="tns:_InsertAuthorityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1__verify_InputMessage">
    <wsdl:part name="parameters" element="tns:_verify" />
  </wsdl:message>
  <wsdl:message name="IService1__verify_OutputMessage">
    <wsdl:part name="parameters" element="tns:_verifyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1__DeleteAuthority_InputMessage">
    <wsdl:part name="parameters" element="tns:_DeleteAuthority" />
  </wsdl:message>
  <wsdl:message name="IService1__DeleteAuthority_OutputMessage">
    <wsdl:part name="parameters" element="tns:_DeleteAuthorityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="viewALL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/viewALL" message="tns:IService1_viewALL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/viewALLResponse" message="tns:IService1_viewALL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRegisteredPersonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteRegisteredPersonQuery" message="tns:IService1_deleteRegisteredPersonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteRegisteredPersonQueryResponse" message="tns:IService1_deleteRegisteredPersonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRegistrationQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertRegistrationQuery" message="tns:IService1_insertRegistrationQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertRegistrationQueryResponse" message="tns:IService1_insertRegistrationQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateRegistrationQuery" message="tns:IService1_UpdateRegistrationQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateRegistrationQueryResponse" message="tns:IService1_UpdateRegistrationQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewUserOnly">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewUserOnly" message="tns:IService1_ViewUserOnly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewUserOnlyResponse" message="tns:IService1_ViewUserOnly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_VIEWALLFILES">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/_VIEWALLFILES" message="tns:IService1__VIEWALLFILES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/_VIEWALLFILESResponse" message="tns:IService1__VIEWALLFILES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_UpdateAuthority">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/_UpdateAuthority" message="tns:IService1__UpdateAuthority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/_UpdateAuthorityResponse" message="tns:IService1__UpdateAuthority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_InsertAuthority">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/_InsertAuthority" message="tns:IService1__InsertAuthority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/_InsertAuthorityResponse" message="tns:IService1__InsertAuthority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_verify">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/_verify" message="tns:IService1__verify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/_verifyResponse" message="tns:IService1__verify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_DeleteAuthority">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/_DeleteAuthority" message="tns:IService1__DeleteAuthority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/_DeleteAuthorityResponse" message="tns:IService1__DeleteAuthority_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewALL">
      <soap:operation soapAction="http://tempuri.org/IService1/viewALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRegisteredPersonQuery">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteRegisteredPersonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRegistrationQuery">
      <soap:operation soapAction="http://tempuri.org/IService1/insertRegistrationQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationQuery">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateRegistrationQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewUserOnly">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewUserOnly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_VIEWALLFILES">
      <soap:operation soapAction="http://tempuri.org/IService1/_VIEWALLFILES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_UpdateAuthority">
      <soap:operation soapAction="http://tempuri.org/IService1/_UpdateAuthority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_InsertAuthority">
      <soap:operation soapAction="http://tempuri.org/IService1/_InsertAuthority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_verify">
      <soap:operation soapAction="http://tempuri.org/IService1/_verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_DeleteAuthority">
      <soap:operation soapAction="http://tempuri.org/IService1/_DeleteAuthority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56633/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>