WebFormForRegisterDB/Service References/ServiceReferenceRegisterDb/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibraryForRegisterDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibraryForRegisterDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataSet_Persons.PersonsDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DataSet_Persons.PersonsDataTable" Namespace="http://schemas.datacontract.org/2004/07/ClassLibraryForRegisterDB" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DataSet_Persons.xsd" name="namespace" />
      <xs:attribute fixed="PersonsDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>